@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

#body_index {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  height: 100vh;
  width: 100%; }

.header {
  position: sticky;
  z-index: 10;
  background: rgba(208, 204, 204, 0.905);
  font-size: x-large; }

/*PÁGINA INDEX*/
/*MODIFICACIONES PARA EL VIDEO Y LOGO*/
#video__Inicio {
  width: 100%;
  height: 100%; }

.logo {
  height: 10vh; }

/*VISTA DESKTOP*/
@media screen and (min-width: 1024px) {
  /*MODIFICACIONES PARA EL CUADRO QUE VA SOBRE EL VIDEO*/
  #Cuadro__Inicio {
    width: 40vw;
    height: 53vh;
    background-color: rgba(0, 225, 255, 0.573);
    position: absolute;
    top: 70vh;
    left: 10%;
    padding: 30px 40px 30px 40px;
    overflow: auto; }
    #Cuadro__Inicio h1 {
      text-align: center;
      font-weight: bolder;
      color: white; }
    #Cuadro__Inicio p {
      text-align: justify;
      font-size: larger;
      color: white; }
    #Cuadro__Inicio div {
      display: flex;
      justify-content: center;
      width: 100%; }
      #Cuadro__Inicio div a {
        padding: 2% 32% 2% 32%;
        text-decoration: none;
        text-align: center;
        border: 2px solid white;
        font-size: large;
        color: white; }
        #Cuadro__Inicio div a:hover {
          background: white;
          color: black; }
  /*MODIFICACIONES PARA LOS ARTÍCULOS*/
  .articulo1 {
    margin-top: 15vh;
    background-color: rgba(225, 220, 220, 0.816);
    position: relative;
    width: 100%;
    height: 80vh; }
    .articulo1 img {
      width: 50vw;
      height: 80vh;
      float: left; }
    .articulo1 h2 {
      position: relative;
      top: 10%;
      text-align: center;
      vertical-align: top;
      font-size: 1.8rem;
      font-weight: bolder;
      height: 10vh;
      overflow: auto; }
    .articulo1 p {
      text-align: left;
      overflow: auto;
      width: 40vw;
      height: 70%;
      position: absolute;
      top: 25%;
      left: 55vw;
      font-weight: bolder;
      font-size: large; }
  .articulo2 {
    margin-top: 15vh;
    background-color: rgba(225, 220, 220, 0.816);
    position: relative;
    width: 100%;
    height: 80vh; }
    .articulo2 img {
      width: 49.5vw;
      height: 80vh;
      float: right; }
    .articulo2 h2 {
      text-align: center;
      padding-top: 3.5%;
      font-weight: bolder;
      font-size: xx-large; }
    .articulo2 p {
      text-align: left;
      overflow: auto;
      width: 40vw;
      height: 70%;
      position: absolute;
      top: 25%;
      left: 6vw;
      font-weight: bolder;
      font-size: 1.09rem; }
  /*MODIFICACIONES PARA EL PIE DE PAGINA*/
  .Pie_de_pagina {
    margin-top: 15vh;
    background: rgba(0, 0, 0, 0.738);
    color: white;
    text-align: center;
    height: 14vh;
    line-height: 14vh;
    font-size: larger;
    font-weight: bolder; } }

/*VISTA MOBILE*/
@media screen and (max-width: 500px) {
  #Cuadro__Inicio {
    width: 90vw;
    height: 40vh;
    background-color: rgba(0, 225, 255, 0.573);
    position: absolute;
    top: 17vh;
    left: 5%;
    padding: 20px 40px 20px 40px; }
    #Cuadro__Inicio h1 {
      font-size: x-large;
      text-align: center;
      font-weight: bolder;
      color: white; }
    #Cuadro__Inicio p {
      text-align: justify;
      font-size: medium;
      color: white; }
    #Cuadro__Inicio div {
      display: flex;
      justify-content: center;
      width: 100%; }
      #Cuadro__Inicio div a {
        padding: 1% 32% 1% 32%;
        text-decoration: none;
        text-align: center;
        border: 2px solid white;
        font-size: medium;
        font-weight: bolder;
        color: white; }
        #Cuadro__Inicio div a:hover {
          background: white;
          color: black; }
  /*MODIFICACIONES PARA LOS ARTÍCULOS*/
  .articulo1 {
    margin-top: 10vh;
    background-color: rgba(225, 220, 220, 0.816);
    width: 100%;
    height: 80vh; }
    .articulo1 img {
      width: 100%;
      height: 40vh; }
    .articulo1 h2 {
      margin-top: 2.5%;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bolder; }
    .articulo1 p {
      text-align: justify;
      overflow: auto;
      margin-left: 4vw;
      width: 92vw;
      height: 40%;
      font-weight: bolder;
      font-size: 0.79rem; }
  .articulo2 {
    margin-top: 10vh;
    background-color: rgba(225, 220, 220, 0.816);
    width: 100%;
    height: 80vh; }
    .articulo2 img {
      width: 100%;
      height: 40vh; }
    .articulo2 h2 {
      margin-top: 2.5%;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bolder; }
    .articulo2 p {
      text-align: justify;
      overflow: auto;
      margin-left: 5vw;
      width: 90vw;
      height: 40%;
      font-weight: bolder;
      font-size: 0.8rem; }
  /*MODIFICACIONES PARA EL PIE DE PAGINA*/
  .Pie_de_pagina {
    margin-top: 10vh;
    background: rgba(0, 0, 0, 0.738);
    color: white;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
    font-size: larger;
    font-weight: bolder; } }

/*PÁGINA CONTACTO*/
.body_excepto_index {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  background-image: url(/Imágenes/Fondo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

@media screen and (min-width: 1024px) {
  #bloque_contacto {
    background: rgba(0, 0, 0, 0.542);
    margin: 1% 0 0 10%;
    height: 75vh;
    width: 80vw;
    overflow: hidden; }
    #bloque_contacto form {
      padding-top: 1%;
      height: 75vh;
      width: 80vw;
      padding-left: 10%; }
      #bloque_contacto form legend {
        color: white;
        font-size: x-large;
        font-weight: bolder; }
      #bloque_contacto form #art1 {
        margin-left: 13%; }
      #bloque_contacto form #nombre {
        padding-left: 2%;
        padding-top: 2%;
        color: white;
        font-weight: bolder; }
        #bloque_contacto form #nombre #nombre_cuadro {
          margin-left: 2.2%;
          width: 35.5vw;
          padding-left: 1%;
          height: 4vh;
          background-color: #c5c5c5;
          font-weight: 700; }
      #bloque_contacto form #nac {
        padding-left: 2%;
        padding-top: 2%;
        color: white;
        font-weight: bolder; }
        #bloque_contacto form #nac #nac_cuadro {
          margin-left: 7.8%;
          width: 16%;
          text-align: center;
          height: 4vh;
          background-color: #c5c5c5; }
      #bloque_contacto form #prov {
        padding-left: 2%;
        padding-top: 2%;
        color: white;
        font-weight: bolder; }
        #bloque_contacto form #prov #prov_cuadro {
          margin-left: 16.5%;
          padding-left: 0.4%;
          width: 23%;
          height: 4vh;
          background-color: #c5c5c5;
          font-weight: 500; }
      #bloque_contacto form #mail {
        padding-left: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        color: white;
        font-weight: bolder; }
        #bloque_contacto form #mail #mail_cuadro {
          margin-left: 10.1%;
          width: 35.5vw;
          padding-left: 1%;
          height: 4vh;
          background-color: #c5c5c5;
          font-weight: 700; }
      #bloque_contacto form fieldset #art2 {
        margin-left: 20%; }
      #bloque_contacto form fieldset #comentario {
        width: 60vw;
        height: 15vh;
        margin-left: 0%;
        padding: 1%;
        font-weight: 500; }
      #bloque_contacto form fieldset #comentario textarea {
        background-color: #c5c5c5;
        padding-left: 1%;
        font-weight: 600; }
      #bloque_contacto form fieldset .boton {
        padding: 2% 0 0 32%; }
        #bloque_contacto form fieldset .boton .btns {
          width: 90px;
          height: 40px;
          font-size: larger;
          background-color: #c5c5c5; }
          #bloque_contacto form fieldset .boton .btns:hover {
            color: white;
            font-weight: bolder; }
          #bloque_contacto form fieldset .boton .btns .enviar:hover {
            background-color: #049006; }
          #bloque_contacto form fieldset .boton .btns .reset:hover {
            background-color: #900404; }
  .footer_excepto_index {
    margin-top: 1%;
    background: rgba(0, 0, 0, 0.892);
    color: white;
    text-align: center;
    height: 14vh;
    line-height: 14vh;
    font-size: larger;
    font-weight: bolder; } }

@media screen and (max-width: 500px) {
  #bloque_contacto {
    background: rgba(0, 0, 0, 0.542);
    margin-top: 1%;
    height: 75vh;
    overflow: hidden;
    text-align: center; }
    #bloque_contacto form {
      padding-top: 1%;
      width: 90vw; }
      #bloque_contacto form legend {
        color: white;
        font-weight: bolder; }
      #bloque_contacto form #art1 {
        font-size: 1.093em;
        margin-left: 5%;
        text-decoration: underline; }
      #bloque_contacto form #nombre {
        padding-left: 10%;
        color: white;
        font-weight: bolder; }
        #bloque_contacto form #nombre #nombre_cuadro {
          text-align: center;
          width: 60vw;
          height: 4vh;
          background-color: #e4dfdf; }
      #bloque_contacto form #nac {
        padding-left: 10%;
        padding-top: 2%;
        color: white;
        font-weight: bolder; }
        #bloque_contacto form #nac #nac_cuadro {
          width: 50vw;
          text-align: center;
          height: 4vh;
          background-color: #e4dfdf; }
      #bloque_contacto form #prov {
        padding-left: 10%;
        padding-top: 2%;
        color: white;
        font-weight: bolder; }
        #bloque_contacto form #prov #prov_cuadro {
          text-align: center;
          width: 50vw;
          height: 4vh;
          background-color: #e4dfdf; }
      #bloque_contacto form #mail {
        padding-left: 10%;
        padding-top: 2%;
        padding-bottom: 1%;
        color: white;
        font-weight: bolder; }
        #bloque_contacto form #mail #mail_cuadro {
          text-align: center;
          width: 60vw;
          height: 4vh;
          background-color: #e4dfdf; }
      #bloque_contacto form fieldset #art2 {
        margin-left: 5%; }
      #bloque_contacto form fieldset #comentario {
        margin-left: 10%;
        background-color: #e4dfdf;
        text-align: center;
        height: 18vh;
        width: 60vw; }
      #bloque_contacto form fieldset .boton {
        padding-left: 10%; }
        #bloque_contacto form fieldset .boton .btns {
          width: 90px;
          height: 30px;
          font-weight: bolder;
          background-color: #c5c5c5; }
          #bloque_contacto form fieldset .boton .btns:hover {
            color: white;
            font-weight: bolder; }
          #bloque_contacto form fieldset .boton .btns .enviar:hover {
            background-color: #049006; }
          #bloque_contacto form fieldset .boton .btns .reset:hover {
            background-color: #900404; }
  .footer_excepto_index {
    margin-top: 1%;
    background: rgba(0, 0, 0, 0.892);
    color: white;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
    font-size: larger;
    font-weight: bolder; } }

/*PÁGINA CONCEPTOS*/
.art {
  background: rgba(0, 0, 0, 0.814);
  margin-top: 2%;
  padding: 1% 0 1% 0;
  text-align: center;
  color: white; }

.desarrollo {
  font-size: larger;
  width: 60vw;
  margin-left: 20vw;
  text-align: justify; }

/*PÁGINA NOSOTROS*/
.nosotros {
  color: white;
  padding: 5%; }
  .nosotros p {
    font-size: 23px; }
  .nosotros .centrado {
    text-align: center; }

/*PÁGINA CURSOS*/
.flexbox {
  display: flex;
  flex-direction: 1 column;
  flex-wrap: wrap;
  justify-content: space-around; }
  .flexbox .flex {
    background: rgba(0, 0, 0, 0.814);
    margin-top: 2%;
    padding: 1% 0 1% 0;
    text-align: center;
    color: white;
    width: 22vw; }
