*{margin: 0px; padding: 0px;}

#body_index{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    height: 100vh;
    width: 100%;   
}

.header{
    position: sticky;
    z-index: 10;
    background: rgba(208, 204, 204, 0.905);
    font-size: x-large;
}

/*PÁGINA INDEX*/
/*MODIFICACIONES PARA EL VIDEO Y LOGO*/
#video__Inicio{width: 100%; height: 100%;}
.logo{height: 10vh;}

/*VISTA DESKTOP*/
@media screen and (min-width: 1024px){
    /*MODIFICACIONES PARA EL CUADRO QUE VA SOBRE EL VIDEO*/
    #Cuadro__Inicio{
        width: 40vw;
        height: 53vh;
        background-color: rgba(0, 225, 255, 0.573);
        position: absolute;
        top: 70vh;
        left: 10%;
        padding: 30px 40px 30px 40px;
        overflow: auto;

        h1{
            text-align: center;
            font-weight: bolder;
            color: white;
        }

        p{
            text-align: justify;
            font-size: larger;
            color: rgb(255, 255, 255);
        }

        div{
            display: flex;
            justify-content: center;
            width: 100%;

            a{
                padding: 2% 32% 2% 32%;
                text-decoration: none;
                text-align: center;
                border: 2px solid white;
                font-size: large;
                color: white;

                &:hover{
                    background: white;
                    color: black;
                }
            }
        }
    }

    /*MODIFICACIONES PARA LOS ARTÍCULOS*/
    .articulo1{
        margin-top: 15vh;
        background-color: rgba(225, 220, 220, 0.816);
        position: relative;
        width: 100%;
        height: 80vh;

        img{
            width: 50vw; height: 80vh; float: left;
        }

        h2{
            position: relative;
            top: 10%;
            text-align: center;
            vertical-align: top;
            font-size: 1.8rem;
            font-weight: bolder;
            height: 10vh;
            overflow: auto;
        }

        p{
            text-align: left;
            overflow: auto;
            width: 40vw;
            height: 70%;
            position: absolute;
            top: 25%;
            left: 55vw;
            font-weight: bolder;
            font-size: large;
        }
    } 
    .articulo2{
        margin-top: 15vh;
        background-color: rgba(225, 220, 220, 0.816);
        position: relative;
        width: 100%;
        height: 80vh;

        img{
            width: 49.5vw; height: 80vh; float: right;
        }

        h2{
            text-align: center;
            padding-top: 3.5%;
            font-weight: bolder;
            font-size: xx-large;   
        }

        p{
            text-align: left;
            overflow: auto;
            width: 40vw;
            height: 70%;
            position: absolute;
            top: 25%;
            left: 6vw;
            font-weight: bolder;
            font-size: 1.09rem;
        }
    }
    
    /*MODIFICACIONES PARA EL PIE DE PAGINA*/
    .Pie_de_pagina{
        margin-top: 15vh;
        background: rgba(0, 0, 0, 0.738);
        color: white;
        text-align: center;
        height: 14vh;
        line-height: 14vh;
        font-size: larger;
        font-weight: bolder;
    }   
}

/*VISTA MOBILE*/
@media screen and (max-width: 500px){
    #Cuadro__Inicio{
        width: 90vw;
        height: 40vh;
        background-color: rgba(0, 225, 255, 0.573);
        position: absolute;
        top: 17vh;
        left: 5%;
        padding: 20px 40px 20px 40px;

        h1{
            font-size: x-large;
            text-align: center;
            font-weight: bolder;
            color: rgb(255, 255, 255);
        }
        
        p{
            text-align: justify;
            font-size: medium;
            color: rgb(255, 255, 255);
        }

        div{
            display: flex;
            justify-content: center;
            width: 100%;

            a{
                padding: 1% 32% 1% 32%;
                text-decoration: none;
                text-align: center;
                border: 2px solid white;
                font-size: medium;
                font-weight: bolder;
                color: white;

                &:hover{
                    background: white;
                    color: black;
                }
            }
        }
    } 
     /*MODIFICACIONES PARA LOS ARTÍCULOS*/
     .articulo1{
        margin-top: 10vh;
        background-color: rgba(225, 220, 220, 0.816);
        width: 100%;
        height: 80vh;

        img{
            width: 100%; height: 40vh
        }

        h2{
            margin-top: 2.5%;
            text-align: center;
            font-size: 1.2rem;
            font-weight: bolder;
        }
        p{
            text-align: justify;
            overflow: auto;
            margin-left: 4vw;
            width: 92vw;
            height: 40%;
            font-weight: bolder;
            font-size: 0.79rem;
        }

    }
    
    .articulo2{
        margin-top: 10vh;
        background-color: rgba(225, 220, 220, 0.816);
        width: 100%;
        height: 80vh;

        img{
            width: 100%; height: 40vh
        }

        h2{
            margin-top: 2.5%;
            text-align: center;
            font-size: 1.2rem;
            font-weight: bolder;
        }

        p{
            text-align: justify;
            overflow: auto;
            margin-left: 5vw;
            width: 90vw;
            height: 40%;
            font-weight: bolder;
            font-size: 0.8rem;
        }
    }
    
    /*MODIFICACIONES PARA EL PIE DE PAGINA*/
    .Pie_de_pagina{
        margin-top: 10vh;
        background: rgba(0, 0, 0, 0.738);
        color: white;
        text-align: center;
        height: 10vh;
        line-height: 10vh;
        font-size: larger;
        font-weight: bolder;
    }
}


/*PÁGINA CONTACTO*/
.body_excepto_index{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    background-image: url(/Imágenes/Fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (min-width: 1024px){
    #bloque_contacto{
        background: rgba(0, 0, 0, 0.542);
        margin: 1% 0 0 10%;
        height: 75vh;
        width: 80vw;
        overflow: hidden;

        form{
            padding-top: 1%;
            height: 75vh;
            width: 80vw;
            padding-left: 10%;

            legend{
                color: white;
                font-size: x-large;
                font-weight: bolder;
            }

            #art1{margin-left: 13%;}

            #nombre{
                padding-left: 2%;
                padding-top: 2%;
                color: white;
                font-weight: bolder;

                #nombre_cuadro{
                    margin-left: 2.2%;
                    width: 35.5vw;
                    padding-left: 1%;
                    height: 4vh;
                    background-color: rgb(197, 197, 197);
                    font-weight: 700;
                }
            }

            #nac{
                padding-left: 2%;
                padding-top: 2%;
                color: white;
                font-weight: bolder;

                #nac_cuadro{
                    margin-left: 7.8%;
                    width: 16%;
                    text-align: center;
                    height: 4vh;
                    background-color: rgb(197, 197, 197);
                }
            }

            #prov{
                padding-left: 2%;
                padding-top: 2%;
                color: white;
                font-weight: bolder;

                #prov_cuadro{
                    margin-left: 16.5%;
                    padding-left: 0.4%;
                    width: 23%;
                    height: 4vh;
                    background-color: rgb(197, 197, 197);
                    font-weight: 500;
                }
            }

            #mail{
                padding-left: 2%;
                padding-top: 2%;
                padding-bottom: 2%;
                color: white;
                font-weight: bolder;
                
                #mail_cuadro{
                    margin-left: 10.1%;
                    width: 35.5vw;
                    padding-left: 1%;
                    height: 4vh;
                    background-color: rgb(197, 197, 197);
                    font-weight: 700;
                }
            }
            fieldset{
                #art2{margin-left: 20%;}
                
                #comentario{
                    width: 60vw;
                    height: 15vh;
                    margin-left: 0%;
                    padding: 1%;
                    font-weight: 500;
                }
                #comentario textarea{
                    background-color: rgb(197, 197, 197);
                    padding-left: 1%;
                    font-weight: 600;
                }
                .boton{
                    padding: 2% 0 0 32%;

                    .btns{
                        width: 90px;
                        height: 40px;
                        font-size: larger;
                        background-color: rgb(197, 197, 197);

                        &:hover{color: white; font-weight: bolder;}
                        .enviar:hover{background-color: rgb(4, 144, 6);}
                        .reset:hover{background-color: rgb(144, 4, 4);}
                    }
                }
            }

        }
    }
    .footer_excepto_index{
        margin-top: 1%;
        background: rgba(0, 0, 0, 0.892);
        color: white;
        text-align: center;
        height: 14vh;
        line-height: 14vh;
        font-size: larger;
        font-weight: bolder;
    }
}

@media screen and (max-width: 500px){
    #bloque_contacto{
        background: rgba(0, 0, 0, 0.542);
        margin-top: 1%;
        height: 75vh;
        overflow: hidden;
        text-align: center;

        form{
            padding-top: 1%;
            width: 90vw;
            
            legend{
                color: white;
                font-weight: bolder; 
            }

            #art1{font-size: 1.093em; margin-left: 5%;text-decoration: underline;}

            #nombre{
                padding-left: 10%;
                color: white;
                font-weight: bolder;

                #nombre_cuadro{
                    text-align: center;
                    width: 60vw;
                    height: 4vh;
                    background-color: rgb(228, 223, 223);
                }
            }

            #nac{
                padding-left: 10%;
                padding-top: 2%;
                color: white;
                font-weight: bolder;
        
                #nac_cuadro{
                    width: 50vw;
                    text-align: center;
                    height: 4vh;
                    background-color: rgb(228, 223, 223);
                }
            }

            #prov{
                padding-left: 10%;
                padding-top: 2%;
                color: white;
                font-weight: bolder;
        
                #prov_cuadro{
                    text-align: center;
                    width: 50vw;
                    height: 4vh;
                    background-color: rgb(228, 223, 223);
                }
            }

            #mail{
                padding-left: 10%;
                padding-top: 2%;
                padding-bottom: 1%;
                color: white;
                font-weight: bolder;
        
                #mail_cuadro{
                    text-align: center;
                    width: 60vw;
                    height: 4vh;
                    background-color: rgb(228, 223, 223);
                }
            }
            fieldset{
                #art2{margin-left: 5%;}

                #comentario{
                    margin-left: 10%;
                    background-color: rgb(228, 223, 223);
                    text-align: center;
                    height: 18vh;
                    width: 60vw;
                }
                .boton{
                    padding-left: 10%;
                    
                    .btns{
                        width: 90px;
                        height: 30px;
                        font-weight: bolder;
                        background-color: rgb(197, 197, 197);

                        &:hover{color: white; font-weight: bolder;}
                        .enviar:hover{background-color: rgb(4, 144, 6);}
                        .reset:hover{background-color: rgb(144, 4, 4);}
                    }
                }
            }
        }
    }
    .footer_excepto_index{
        margin-top: 1%;
        background: rgba(0, 0, 0, 0.892);
        color: white;
        text-align: center;
        height: 10vh;
        line-height: 10vh;
        font-size: larger;
        font-weight: bolder;
    }
}

/*PÁGINA CONCEPTOS*/
.art{
    background: rgba(0, 0, 0, 0.814);
    margin-top: 2%;
    padding: 1% 0 1% 0;
    text-align: center;
    color: white;
}
.desarrollo{
    font-size: larger;
    width: 60vw;
    margin-left: 20vw;
    text-align: justify;
}

/*PÁGINA NOSOTROS*/

@media screen and (min-width: 1024px){
    .nosotros{
        color: white; padding: 5%;
        p{font-size: 23px;}
        .centrado{text-align: center;}
    }
}
@media screen and (max-width: 500px){
    .nosotros{
        color: white; padding: 5%;
        p{font-size: 1em; overflow: auto;}
        .centrado{text-align: center;}
    }
}


/*PÁGINA CURSOS*/

.flexbox{
    display: flex;
    flex-direction: 1 column;
    flex-wrap: wrap;
    justify-content: space-around;

    .flex{
        background: rgba(0, 0, 0, 0.814);
        margin-top: 2%;
        padding: 1% 0 1% 0;
        text-align: center;
        color: white;
        width: 22vw;
    }
}
